<li>
    <span>User: <span><%= message.user.length <= 10 ? message.user : message.user.substring(0,10)+'...' %></span></span>
    <span>Message: <span><%= message.text.length <= 20 ? message.text : message.text.substring(0,20)+'...' %></span> </span>
    <a href="/">details</a>
</li>