<html>

<head>
  <title><%= title %></title>
</head>

<body>
    <%- include('partials/navbar', {links}) %>
    <h1>Type your beautiful message</h1>
    <input type="text" placeholder="User">
    <input type="text" placeholder="Message">
</body>

</html>