<html>

<head>
  <title><%= title %></title>
</head>

<body>
    <%- include('partials/navbar', {links}) %>
    <form method="POST" action="/new">
      <h1>Type your beautiful message</h1>
      <input type="text" placeholder="User">
      <input type="text" placeholder="Message">
      <button type="submit">Submit</button>
    </form>
</body>

</html>