<html>

<head>
  <title><%= title %></title>
</head>

<body>
  <%- include('partials/navbar', {links}) %>
  <ul>
    <% messages.forEach((message)=> { %>
    <%- include('partials/message', {message}); %>
    <% }); %>
  </ul>
</body>

</html>